/*#####  log.php Styling  #####*/

#log-css form{
	max-width: 900px;
	margin: 0 auto;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	
}	
	
#log-css form .row{
	text-align:center;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#log-css form .row .row-item{
	margin: 3px;
	font-size: 20px;
	height:40px;
	flex: 1 1 80px;
}


