/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   **Note:  The following code resets all
			styling to allow full control
			over what the page looks like.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*##########################################
		WWSP - 90FM | DJ HUB CODE
##########################################*/

@font-face {
    font-family: 'bebas-neue';
    src: url("../fonts/BebasNeue.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/*########################################*/

html {
	height:100%;
	min-width:600px;
	margin: 0;
}

body {
	margin: 0 auto;
	max-width: 1100px;
	height:100%;
	background-color: #1e1e1e;
	font-family: 'bebas-neue', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.wrapper {
	min-height: 100%;  margin-bottom: -65px;
}

.header-cover {
	display: flex;
	flex-flow: row nowrap;
	text-align: center;
	max-width: 1100px;
	min-height: 100px;
	background-color: #1e1e1e;
	color: #fff;
	margin: 0 auto;
	margin-top:15px;
	padding: 15px;
}

.header-cover h1{
	font-size: 60px;
}
.header-cover h2{
	font-size: 30px;
}
.header-cover h3{
	font-size: 20px;
}
.header-cover h4{
	font-size: 18px;
}

/*#####  Header Content  #####*/
header {

}

header .head-title{
	flex: 2;
	text-align: right;
	min-width: 255px;
	user-select: none;
}

header .head-logo{
	flex: 1;
	min-width: 75px;
	text-align: left;
	user-select: none;
}
header .head-login{
	flex: 2;
	margin: 0 auto;
	padding: 5px;
	display: block;
	max-width: 300px;
	padding:5px;
	background-color: #333;
	color: #bbb;

	border-style: dotted;
	border-color: #555;
	border-width: 2px;
}

/*#####  Login Form CSS  #####*/
header div .head-login form {

	padding: 3px;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;

}

header div .head-login form input{
	opacity: .5;
	transition:  opacity .5s;
	text-align: center;
	flex-grow: 1;
	color: black;
	flex:1;
	display: block;
}

header div .head-login form input::placeholder{
	color: black;
	font-weight: bold;
}

header div .head-login form input:focus {opacity:1;}
header div .head-login form input:focus::placeholder{color:#999;}

/*#####  Page Errors  #####*/
#login_errors
{
	color: #bb3838;
}

#song_errors
{
	color: #800;
}

#login_required{
	font-size: 20px;
	color: #800;
}

/*#####  Logout Box  #####*/
#logout{
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;

}
#logout a{
	color: #aaa;
}

/*#####  Navigation CSS  #####*/
header nav {
	width: 100%;
	display: block;
	background-color: #e7e7e7;
	text-decoration: none;
}

header nav ul{
    display: flex;
	height: 100%;
	justify-content: space-around;
}

header nav ul li{
	font-size: 20px;
	display:block;
	background-color: #e7e7e7;
	border-style: solid;
	border-width: 1px;
	border-color: #777;
	width: 100%;
	text-align: center;
	list-style: none;
}
header nav ul li:hover{
	background-color: #fff;
}

header nav ul li a{
	text-decoration: none;
	color:#555;
	display: block;
	padding: 3px;
}

/*#####  Content Title Stuff  #####*/
.main-container{
background-color: #fff;
text-align: center;
padding: 10px;
min-height:100%;
}

.title-wrapper {
	display: block;
	margin-bottom:10px;
	background-color: #ddd;
}

.title-wrapper h2 {
	padding: 10px;
	font-size: 40px;

}

/*#####  Main Content  #####*/

.main-content{
	padding-bottom:10px;
}

/*#####  Footer Content  #####*/
.push{
	height: 70px;
}

.footer-container {
	color:#eee;
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
}
